<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>字典维护</title>

    <th:block th:replace="base/lib :: common" />
    <th:block th:replace="base/lib :: semantic" />
    <th:block th:replace="base/lib :: react" />

    <script type="text/javascript" th:src="@{/js/bundle/vendors.js}"></script>
    <script type="text/javascript" th:src="@{/js/bundle/table.js}"></script>

</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">
    <div id="container">
        <div id="dic-select">
            <div class="ui active centered loader"></div>
        </div>
        <div id="dic-box">

        </div>
    </div>
</body>
</html>
