<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Scratch</title>

    <!-- <th:block th:replace="base/lib :: common"></th:block>
    <th:block th:replace="base/lib :: semantic"></th:block>
    <th:block th:replace="base/lib :: react"></th:block> -->

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<script type="text/javascript" th:src="@{/js/conf.js}" src="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/js/conf.js"></script>
	<script type="text/javascript" th:src="@{/js/tools/jquery.js}" src="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/js/tools/jquery.js"></script>
	<script type="text/javascript" th:src="@{/semantic/semantic.js}" src="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/semantic/semantic.js"></script>

	<link rel="stylesheet" th:href="@{/semantic/semantic.css}" href="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/semantic/semantic.css"/>
	<link rel="stylesheet" th:href="@{/css/common.css}" href="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/css/common.css"/>
	<link rel="stylesheet" th:href="@{/css/mycss.css}" href="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource//css/mycss.css"/>
	<script type="text/javascript" th:src="@{/js/tool.js}" src="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/js/tool.js"></script>


    <script type="text/javascript" th:src="@{/js/bundle/vendors.js}" src="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/js/bundle/vendors.js"></script>
    <script type="text/javascript" th:src="@{/js/bundle/comments.js}"></script>
    <script type="text/javascript" th:src="@{/js/bundle/post.js}" src="/home/kazechin/workspcae/scratch/server/src/main/webapp/WEB-INF/resource/js/bundle/post.js"></script>

</head>

<body th:replace="base/layout/user :: layout(~{::#container})">
<div id="container" class="ui container">

    <div class="ui grid">

        <div class="ui one wide column"></div>

        <div class="ui two wide column">
            <div id="left-menu" class="ui vertical fluid  menu">
                <a class="ui active item">
                    更新
                </a>
                <a class="ui item">
                    影视
                </a>
            </div>
        </div>

        <div class="ui computer only two wide column"></div>

        <div class="ui five wide computer fourteen wide tablet column">
            <div id="posts"></div>
        </div>

        <div class="ui computer only two wide column"></div>

        <div class="computer only  ui three wide column">
            <div class="ui segment">
                <h4>推荐</h4>
                <div class="ui middle aligned divided list">
                    <div class="item" th:each="anime : ${recommondedAnimes}"
                         style="padding-top:  0.5rem;padding-bottom: 0.5rem">
                        <div class="content">
                            <a target="_blank" class="header" style="color: ghostwhite"
                               th:href="@{'/anime/' + ${anime.id} }"
                               th:text="${anime.name}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui one wide column"></div>
    </div>
</body>
</html>
