<html xmlns:th="www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>密码重置</title>
    <th:block th:replace="base/lib :: common"/>
    <th:block th:replace="base/lib :: semantic"/>
    <script type="text/javascript" th:src="@{/js/validate.js}"></script>
</head>
<body th:replace="base/layout/user :: layout(~{::.container})">
<div class="ui container" id="container">
    <div class="ui segment">
        <h3>重置密码</h3>
        <div class="panel-body">
            <form id="reset-pwd" class="ui form" action="/user/reset/pwd" method="post">
                <div class="field">
                    <label>新密码</label>
                    <input name="password" placeholder="输入新密码"
                           type="password"/>
                </div>
                <div class="field">
                    <label>确认密码</label>
                    <input name="repassword"
                           placeholder="确认新密码" type="password"/>
                </div>
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <div class="field">
                    <input class="ui button" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>