<html xmlns:th="www.thymeleaf.org">

<th:block th:remove="all">
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
	<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>

<script type="text/javascript" th:src="@{/js/validate.js}"></script>

<!-- Modal -->

<div class="ui text container content">
	<form class="ui form" id="userEditForm" name="user-info" method="post"
		th:action="@{/admin/user/update}" >
		<input name="userId" type="hidden" th:value="${user.userId }"/>
		<div class="field">
			<label>用户名</label>
			<input type="text" name="username" placeholder="请输入用户名"
				th:value="${user.username }"/>
		</div>
		<div class="field">
			<label>邮箱</label>
			<input type="email" name="email" placeholder="请输入邮箱"
				th:value="${user.email}"/>
		</div>
		<div class="field">
			<label>密码</label>
			<input type="password" name="password" placeholder="请输入密码"/>
		</div>
		<div class="field">
			<div class="ui checkbox">
				<input name="status" type="checkbox" value="1" checked="${user.status == 1} ? 'checked' : ''"/>
				<label>激活状态</label>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="actions">
			<input type="submit"  class="ui green button" value="保存"/>
			<button type="button" class="ui cancel button" data-dismiss="modal">关闭</button>
		</div>
	</form>
</div>
</html>
