<html xmlns:th="www.thymeleaf.org">

<head>
	<title>用户管理</title>
	<th:block th:remove="all">
		<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
		<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.cookie.js"></script>
		<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
		<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
	</th:block>
	<th:block th:replace="base/lib :: common"></th:block>
	<th:block th:replace="base/lib :: semantic"></th:block>
	<th:block th:replace="base/lib :: react"></th:block>
	<script type="text/babel" th:src="@{/js/react-common.js}"></script>
	<script type="text/babel" th:src="@{/js/semanticbundle.js}"></script>

</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">

	<div id="container">
		<div id="user-contaienr">
			<div class="ui active centered inline loader"></div>
		</div>
	</div>
</body>
</html>
