<html xmlns:th="www.thymeleaf.org">

<th:block th:remove="all">
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
	<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>

<script type="text/javascript" th:src="@{/js/validate.js}"></script>
<script type="text/javascript" th:src="@{/js/semantic-user.js}"></script>

<div class="ui text container scrolling content">
	<form class="ui form" id="userRegisterForm" name="user-info" method="post" th:action="@{/admin/user/save}" >
		<div class="field">
			<label>用户名</label>
			<input type="text" name="username" placeholder="请输入用户名"/>
		</div>
		<div class="field">
			<label>邮箱</label>
			<input type="email" name="email" placeholder="请输入邮箱" />
		</div>
		<div class="field">
			<label>密码</label>
			<input type="password" name="password" placeholder="请输入密码"/>
		</div>
		<div class="field">
			<div class="ui checkbox">
				<input name="status" type="checkbox" value="1" />
				<label>激活状态</label>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="actions">
			<input type="submit"  class="ui green button" value="保存"/>
			<a type="button" class="ui cancel button" data-dismiss="modal">关闭</a>
		</div>
	</form>
</div>

<script type="text/javascript">
	$('#userRegisterForm').form(userRule);
</script>
