<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>user login</title>
<script type="text/javascript" th:src="@{/js/validate.js}"></script>
<link href="../resource/semantic/semantic.css" rel="stylesheet"></link>
<script type="text/javascript" src="../resource/js/tools/jquery.js"></script>
<script type="text/javascript" src="../resource/semantic/semantic.js"></script>
<script type="text/javascript"
	src="../resource/semantic/components/checkbox.js"></script>
<th:block th:replace="~{base/lib}"></th:block>
</head>

<body>
	<div class="ui grid" style="height: 500px">
		<div class="ui vertical menu three wide column"
			style="overflow-y: scroll">
			<div class="ui icon search fluid input">
				<i class="search icon"></i> <input type="text" name="search"
					placeholder="搜索问题...">
			</div>

			<button class="ui fluid teal button">
				<i class="ui add icon"></i> 新增
			</button>

			<div class="divider"></div>
			<a class="item">重要</a> <a class="item">重要</a> <a class="item">重要</a>
			<a class="item"> 重要
				<div class="ui label right pointing dropdown icon button">
					<i class="settings icon"></i>
					<div class="menu">
						<div class="item">
							<i class="ui edit icon"></i> 修改
						</div>
						<div class="item">
							<i class="ui remove icon"></i> 删除
						</div>
					</div>
				</div>
			</a> <a class="item">重要</a>
		</div>
		<div class="ui ten wide column" style="background: grey">

			<div>
				<button id="addDictionaryData" class="ui teal button">
					<i class="ui add icon"></i> 字典数据
				</button>
			</div>

			<table class="ui celled padded table">
				<thead>
					<tr>
						<th class="single line">编码</th>
						<th class="single line">文字</th>
						<th class="single line">顺序</th>
						<th class="single line">状态</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<h3>A01</h3>
						</td>
						<td class="single line">
							<div class="ui transparent input">
								<input type="text" placeholder="文字" value="日漫"></input>
							</div>
						</td>
						<td>
							<div class="ui transparent input">
								<input type="text" placeholder="顺序" value="1"></input>
							</div>
						</td>
						<td><select class="ui dropdown">
								<option value="">状态</option>
								<option value="1">使用</option>
								<option value="0" selected="selected">暂停</option>
						</select></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>


	<div class="ui small modal">
		<i class="close icon"></i>
		<div class="header">新增字典数据</div>
		<div class="content">
			<form class="ui form" action="">
			
				<div class="ui field fluid input">
					<input placeholder="编码"/>
				</div>
				<div class="ui field fluid input">
					<input placeholder="文字"/>
				</div>	
				<div class="ui field fluid input">
					<input placeholder="顺序"/>
				</div>	
				<div class="ui field fluid input">
					<input placeholder="状态"/>
				</div>	
			</form>
		</div>
		<div class="actions">
			<div class="ui positive right labeled icon button">
				保存 <i class="checkmark icon"></i>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('.ui.dropdown').dropdown();

		$('#addDictionaryData').click(function() {
			$('.ui.small.modal').modal('show');	
		});
		
	</script>
</body>
</html>