<html xmlns:th="www.thymeleaf.org">
<head>
<title>首页—Scratch</title>

<th:block th:replace="base/lib :: common" />
<th:block th:replace="base/lib :: semantic" />
</head>

<body th:replace="base/layout/user :: layout(~{::#container})">
	<div id="container">
		<div class="ui five doubling cards container">
			<div th:each="anime : ${mostFocusAnimes}" class="ui card">
				<div class="image">
					<img src="https://semantic-ui.com/images/avatar2/large/kristy.png"
						th:src="${anime.pic }" style="max-height: 290px;" />
				</div>
				<div class="content">
					<!-- header -->
					<div class="header" th:text="${anime.name}">animeName</div>
					<div class="content">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
