<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- script -->
<script type="text/javascript" th:src="@{/js/tools/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-switch.js}"></script>
<script type="text/javascript" th:src="@{/js/tools/browser.min.js}"/></script>
<script type="text/javascript" th:src="@{/js/tools/react.js}"></script>
<script type="text/javascript" th:src="@{/js/tools/react-dom.js}"></script>
<script type="text/javascript" th:src="@{/formvalidation/js/formValidation.min.js}"></script>
<script type="text/javascript" th:src="@{/formvalidation/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/tag.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/materialize/js/materialize.js}"></script>

<!-- css 样式 -->
<!-- boostrap -->
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"></link>
<link th:href="@{/bootstrap/css/bootstrap-switch.css}" rel="stylesheet"></link>
<!-- 表单验证 -->
<link th:href="@{/formvalidation/css/formValidation.min.css}" rel="stylesheet"></link>
<link th:href="@{/materialize/css/materialize.css}" rel="stylesheet"></link>
<!-- 自定义样式 -->
<link th:href="@{/css/common.css}" rel="stylesheet"></link>
<link th:href="@{/css/mycss.css}" rel="stylesheet"></link>

</html>