<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>user register</title>
	<script type="text/javascript" th:src="@{/js/validate.js}"></script>
	<th:block th:replace="~{base/lib}"></th:block>
</head>

<body th:replace="base/layout/user :: layout(~{::.row})">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<section class="login-form form-valid">
				<form action="register" method="post" id="userRegisterForm" role="login">
					<div class="form-group">
						<input id ="username" class="form-control" name="username" th:value="${user.username }"
							placeholder="账号" />
					</div>
					<div class="form-group">
						<input class="form-control" name="email" th:value="${user.email }" 
							placeholder="邮箱" />
					</div>
					<div class="form-group">
						<input class="form-control" name="password" type="password" 
							placeholder="密码" />
					</div>
					<div class="form-group">
						<input class="form-control" name="rePassword" type="password" 
							placeholder="确认密码" />
					</div>
					<div class="row">
						<input class="btn btn-primary col-md-11" type="submit" value="注册" />
					</div>
				</form>		
			</section>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>

</html>