<html xmlns:th="www.thymeleaf.org">
<th:block th:replace="base/lib :: common" />
<th:block th:replace="base/lib :: semantic" />
<th:block th:replace="base/lib :: react" />

<div class="ui container" th:fragment="cards(animes)"
	style="margin: 1.5rem 0 1rem 0">
	
	<div class="ui five stackable cards">
		<div th:each="anime : ${animes}" class="ui card">
			<a class="imgae" th:href="@{'/anime/episodes/' + ${anime.id}}">
				<img src="https://semantic-ui.com/images/avatar2/large/kristy.png"
						th:src="@{'/upload/' + ${anime.pic}}" class="anime-img" />
			</a>
			<div class="content">
				<!-- header -->
				<a class="header" th:href="@{'/anime/episodes/' + ${anime.id}}"
				   th:text="${anime.name}"></a>
				<div class="meta">
					<span class="date" th:text="${'上次更新' + anime.updateTime}"></span>
				</div>
			</div>
			<div class="extra content">

				<th:block th:if="${session.user_g != null}">
					<div class="anime-focus" th:focus="${anime.focus}" th:anime="${anime.id}">
					</div>
				</th:block>
			</div>
		</div>
	</div>
</div>
</html>
