<html xmlns:th="www.thymeleaf.org">
<head>
    <title th:text="${anime.name}"></title>

    <th:block th:replace="base/lib :: common"/>
    <th:block th:replace="base/lib :: react"/>
    <script type="text/javascript" th:src="@{/js/bundle/vendors.js}"></script>
    <script type="text/javascript" th:src="@{/js/bundle/common.js}"></script>
</head>

<body th:replace="base/layout/user :: layout(~{::#container})">
<div id="container" class="ui container">

    <div class="ui segment" style="height: 260px;padding:1rem">
        <h1 th:text="${anime.name}"></h1>
        <img class="ui  left floated image" style="min-height: 90px; max-height: 180px"
             th:src="@{'/upload/' + ${anime.pic}}">
        <p id="desc" th:text="${anime.description}"></p>

    </div>
    <div class="ui segment anime-focus" th:focus="${anime.focus}" th:anime="${anime.id}">
        <button class="ui primary button">关注</button>
    </div>

    <div class="ui segment" style="margin: 1rem 0rem 1rem 0rem">

        <div class="ui grid">
            <div class="ui two wide column" th:each="episode : ${episodes}">
                <div class="ui left labeled button" tabindex="0">
                    <a class="ui basic label" th:text="${episode.number}"
                       th:href="@{'/episode/' + ${episode.id} + '/redirect?url=' + ${episode.url} }">
                    </a>
                    <div class="ui icon button" th:data-anime="${episode.anime.id}" th:data-episode="${episode.id}">
                        <i class="comment outline icon"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>
