<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scratch.dao.inter.IAnimeAliasDao">

    <resultMap id="alisaList" type="AnimeAlias">
        <result property="hostId" column="hostId" />
        <collection property="names" ofType="String" javaType="java.util.ArrayList">
            <result column="alias" />
        </collection>
    </resultMap>
    

    <select id="find" resultMap="alisaList">
        select host_id as hostId, alias from anime_alias
        where anime_id = #{animeId} and host_id = #{hostId}
    </select>

    <insert id="save">
        INSERT INTO anime_alias(anime_id, host_id, alias)
          VALUES (#{alias.animeId}, #{alias.hostId}, #{alias.name})
    </insert>

    <delete id="delete">
        delete from anime_alias
        where anime_id = #{animeId}
    </delete>

    <select id="list" resultType="scratch.model.entity.AnimeAlias">
        select anime_id as animeId, host_id as hostId, alias as name from anime_alias where anime_id = #{animeId};
    </select>

    <select id="listAnimeIdByHost" resultType="java.lang.Long">
        select anime_id from anime_alias where host_id = #{hostId}
    </select>

</mapper>
