<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scratch.dao.inter.IAnimeEpisodeDao">
	
	<!-- map -->
	<resultMap type="AnimeEpisode" id="AnimeEpisodeMap">
		<id property="id" column="id"/>
		<id property="hostId" column="host_id"></id>
		<result property="number" column="no"/>
		<result property="url" column="url"/>
		<result property="scratchTime" column="scratch_time"/>
		<result property="saveTime" column="save_time"/>
		<result property="pushTime" column="push_time"/>
		<association property="anime" javaType="Anime">
			<id property="id" column="anime_id"/>
			<result property="name" column="anime_name"/>
		</association>
	</resultMap>
	
	<select id="listByAnimeId" resultMap="AnimeEpisodeMap">
		select * from anime_episode where anime_id = #{animeId} order by sequence desc;
	</select>
	
	<select id="findByUrl" resultMap="AnimeEpisodeMap">
		select * from anime_episode where url = #{url};
	</select>
	
	<select id="findByAnimeAndTime" resultMap="AnimeEpisodeMap">
		select 
		 	e.id as id,
		 	e.no as no,
		 	e.url as url,
		 	e.scratch_time as scratch_time,
		 	a.id as anime_id,
		 	a.name as anime_name
			from anime_episode e, anime a 
			where e.anime_id = #{anime.id} 
				and e.scratch_time > #{time}
				and e.anime_id = a.id;
	</select>
	
	<select id="findByTime" resultMap="AnimeEpisodeMap">
			select 
		 	e.id as id,
		 	e.host_id as host_id,
		 	e.no as no,
		 	e.url as url,
		 	e.scratch_time as scratch_time,
		 	e.save_time as save_time,
		 	e.push_time as push_time,
		 	a.id as anime_id,
		 	a.name as anime_name
			from anime_episode e, anime a 
			where e.anime_id = a.id  
				and e.save_time &gt;=#{beginTime}  and e.save_time &lt;=#{endTime}
	</select>
	
	
	<select id="list" resultMap="AnimeEpisodeMap">
		select 
		 	e.id as id,
		 	e.host_id as host_id,
		 	e.no as no,
		 	e.url as url,
		 	e.scratch_time as scratch_time,
		 	e.save_time as save_time,
		 	e.push_time as push_time,
		 	a.id as anime_id,
		 	a.name as anime_name
		from anime_episode e, anime a 
		where e.anime_id = a.id  
		order by e.anime_id desc, e.save_time desc 
	</select>
	
	<select id="getById" resultMap="AnimeEpisodeMap">
		select 
		 	e.id as id,
		 	e.host_id as host_id,
		 	e.no as no,
		 	e.url as url,
		 	e.scratch_time as scratch_time,
		 	e.save_time as save_time,
		 	e.push_time as push_time,
		 	a.id as anime_id,
		 	a.name as anime_name
		from anime_episode e, anime a 
		where e.anime_id = a.id
			and e.id = #{id}  
	</select>

	<select id="getByAnimeIdAndHostIdAndNo" resultMap="AnimeEpisodeMap">
				select
		 	e.id as id,
		 	e.host_id as host_id,
		 	e.no as no,
		 	e.url as url,
		 	e.scratch_time as scratch_time,
		 	e.save_time as save_time,
		 	e.push_time as push_time,
		 	a.id as anime_id,
		 	a.name as anime_name
		from anime_episode e, anime a
		where
			e.anime_id = a.id
			and e.anime_id = #{animeId}
			and e.host_id = #{hostId}
			and e.no = #{no}
	</select>

	
	<insert id="save">
		insert into anime_episode (
			anime_id, no, url, scratch_time, host_id, save_time
		) 
		values(
			#{episode.anime.id}, #{episode.number} , #{episode.url}, #{episode.scratchTime}, #{episode.hostId}, #{episode.saveTime}
		)
	</insert>
	
	<delete id="deleteByUrl">
		delete from anime_episode where url = #{url};
	</delete>
	
	<delete id="delete">
		delete from anime_episode where id = #{id};
	</delete>
	
	<update id="modify">
		update anime_episode
		 set no = #{episode.number},
		 	url = #{episode.url},
		 	scratch_time = #{episode.scratchTime},
		 	save_time = #{episode.saveTime}
		 where id = #{episode.id}
	</update>

</mapper>  
