<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>字典维护</title>

    <th:block th:replace="base/lib :: common" />
    <th:block th:replace="base/lib :: react" />
    <th:block th:replace="base/lib :: semantic" />
    <script th:src="@{/js/semantic-dic.js}"
            src="../resource/js/semantic-dic.js" type="text/babel"></script>
    <script th:src="@{/js/semanticbundle.js}" type="text/babel"></script>
    <script th:src="@{/js/admin/dic.js}" type="text/babel"></script>

</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">
    <div id="container">
        <div id="dic-select">
            <div class="ui loader"></div>
        </div>
        <div id="dic-box">

        </div>
    </div>
</body>
</html>
