<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>字典维护</title>
<!-- <link href="../resource/semantic/semantic.css" rel="stylesheet"></link>
<script type="text/javascript" src="../resource/js/tools/jquery.js"></script>
<script type="text/javascript" src="../resource/semantic/semantic.js"></script> -->

<th:block th:replace="base/lib :: common" />
<th:block th:replace="base/lib :: bootstrap" />
<th:block th:replace="base/lib :: materialize" />
<th:block th:replace="base/lib :: react" />
<th:block th:replace="base/lib :: semantic" />
<script th:src="@{/js/semantic-dic.js}" 
	src="../resource/js/semantic-dic.js" type="text/babel"></script>
	
<!-- <link th:href="@{/semantic/semantic.css}" 
	href="../resource/semantic/semantic.css" rel="stylesheet"></link>
<script th:src="@{/js/tools/jquery.js}"   
	src="../resource/js/tools/jquery.js" type="text/javascript"></script>
<script th:src="@{/semantic/semantic.js}"  
	src="../resource/semantic/semantic.js" type="text/javascript"></script>

<script type="text/javascript" th:src="@{/js/tools/browser.min.js}"/></script>
<script type="text/javascript" th:src="@{/js/tools/react.js}"></script>
<script type="text/javascript" th:src="@{/js/tools/react-dom.js}"></script> -->

</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">
	<div id="container">
		<p></p>
		<div class="ui grid">
		<div class="ui vertical menu three wide column"
			style="overflow-y: scroll">

			<!-- 搜索自动填充 -->
			<div class="ui icon search fluid input" style="padding:10px 0 10px 0;">
				<i class="search icon"></i> 
				<input class="prompt" type="text" name="search" placeholder="搜索...">
				<div class="results"></div>
			</div>

			<button id="addDictionary" class="ui fluid teal button">
				<i class="ui add icon"></i> 新增
			</button>
			
			<div class="divider"></div>
			
			<th:block th:each="dictionary : ${dictionaries}">
				<a class="item" th:data-code="*{dictionary.code}">
					<th:block th:text="'[' + *{dictionary.code} + ']' + *{dictionary.value}"/>
					<div class="ui label right pointing dropdown icon button">
						<i class="settings icon"></i>
						<div class="menu">
							<div class="item">
								<i class="ui edit icon"></i> 修改
							</div>
							<div class="item">
								<i class="ui remove icon"></i> 删除
							</div>
						</div>
					</div>
				</a> 
			</th:block>
		</div>
		<div class="ui ten wide column" style="background: grey">


		</div>
	</div>


	<div class="ui small modal">
		<i class="close icon"></i>
		<div class="header">新增字典数据</div>
		
		<div class="content ui form">
			<form class="" action="">
				<div class="ui field fluid input">
					<input name="code" placeholder="编码"/>
				</div>
				<div class="ui field fluid input">
					<input name="name" placeholder="文字"/>
				</div>	
				<div class="ui field fluid input">
					<input name="order" placeholder="顺序"/>
				</div>	
				<div class="ui field fluid input">
					<select class="ui dropdown">
						<option value="">状态</option>
						<option value="1" selected="selected">使用</option>
						<option value="0">暂停</option>
					</select>
				</div>	
			</form>
		</div>
		<div class="actions">
			<div class="ui approve green button">Approve</div>
		</div>
		</div>
	</div>
	
	<th:block th:replace="~{dic_add :: modal-dic('-1')}" />
	<th:block th:replace="~{dic_add :: modal-dic('1')}" />
	
	<script type="text/javascript" th:inline="javascript">
		var dictionaries = [[${dictionaries}]];
	</script>
</body>
</html>
