<html xmlns:th="www.thymeleaf.org">

<div class="header" th:text="${anime.name}"></div>
<div class="content">
	<div class="ui grid">
		<div class="ui row">
			<div class="ui segment">
				<img class="ui small left floated image" th:src="${anime.pic}">
				<p th:text="${anime.description}"></p>
			</div>	
		</div>
		<div class="ui divider"></div>
		<div class="ui row">
			<h3 class="ui header">剧集</h3>
		</div>
		<div class="ui row">
			<p th:if="${episodes.size() == 0}">暂无</p>
			<a class="ui primary basic button" th:each="episode : ${episodes}" 
			th:href="${episode.url}" th:text="${episode.number}"></a>
		</div>
	</div>
 </div>
</html>
