<html xmlns:th="www.thymeleaf.org">
<head>
<title>关注列表</title>

<th:block th:remove="all">
	<link rel="stylesheet"
		href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
	<script type="text/javascript"
		src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript"
		src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
</th:block>

<th:block th:replace="base/lib :: common" />
<th:block th:replace="base/lib :: semantic" />
</head>

<body th:replace="base/layout/user :: layout(~{::#container})">
	<div id="container">
		<div class="ui six column grid container">
			<div class="ui search">
				<input class="prompt" type="text" placeholder="search" />
				<i class="search icon"></i>
			</div>
			<div class="ui labeled icon top right pointing dropdown button">
				<i class="filter icon"></i>
				
				<th:block th:if="${type != null}" 
					th:text="${'类型：' + (animeTypes.asMap()).get(type)} + ' '"></th:block>
				<th:block th:if="${focus != null}" 
					th:text="${'订阅：' + (focus == 1 ? '订阅中' : '未订阅')}"></th:block>
				<th:block th:if="${focus == null && type == null}">过滤</th:block>
				<div class="menu">
					<div class="header">
						<i class="tags icon"></i>类型
					</div>
					<a class="item" th:href="@{/anime/focus(focus=${focus?:''})}">所有</a> 
					<a class="item" th:each="animeType : ${animeTypes}"
						th:href="@{/anime/focus(type=${animeType.code}, focus=${focus?:''})}"
						th:text="${animeType.value }"></a>

					<div class="ui divider"></div>

					<div class="header">
						<i class="tags icon"></i>订阅状态
					</div>
					<a class="item" th:href=" @{/anime/focus(type=${type ?: ''})}">所有</a> 
					<a class="item" th:href="@{/anime/focus(focus='1', type=${type})}">订阅中</a>
					<a class="item" th:href="@{/anime/focus(focus='0', type=${type})}">未订阅</a>
				</div>
			</div>
		</div>

		<br />

		<div class="ui five doubling cards container">
			<div th:each="anime : ${animeList}" class="ui card">
				<div class="image">
					<img src="https://semantic-ui.com/images/avatar2/large/kristy.png"
						th:src="${anime.key.pic }" style="max-height: 290px;" />
				</div>
				<div class="content">
					<!-- header -->
					<div class="header" th:text="${anime.key.name}">animeName</div>
					<div class="content">
						<form class="ui form" style="margin: 0px;"
							th:if="${anime.value == 0}" action="focus/add" method="post">
							<input name="animeId" type="hidden" th:value="${anime.key.id }" />
							<button class="ui basic orange button">订阅</button>
						</form>
					</div>

					<form th:unless="${anime.value == 0}" action="focus/delete"
						method="post">
						<input name="animeId" type="hidden" th:value="${anime.key.id }" />
						<button class="ui basic blue button">取消订阅</button>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$('.ui.dropdown')
			  .dropdown()
		
		</script>
	</div>
</body>
</html>
