<html xmlns:th="www.thymeleaf.org">
<head>
<title>关注列表</title>
<th:block th:replace="base/lib :: common" />
<th:block th:replace="base/lib :: bootstrap" />
<th:block th:replace="base/lib :: materialize" />
</head>

<body th:replace="base/layout/user :: layout(~{::#container})">
	<div id="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<input id="search" placeholder="search" />
				</div>
				<div class="row">
					<label>过滤：</label>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							类型 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a th:href="'focus?focus=' + ${focus}">全部</a></li>
							<li role="separator" class="divider"></li>
							<li th:each="animeType : ${animeTypes}"><a
								th:href="'focus?type=' + ${animeType.code } + '&focus=' + ${focus}"
								th:text="${animeType.value }"></a></li>
						</ul>
					</div>

					<!-- 			<th:block th:text="${type == null ? '全部' : ${animeTypes[type] }}">
			</th:block> -->
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							订阅 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a th:href="'focus?type=' + ${type }">全部</a></li>
							<li role="separator" class="divider"></li>
							<li><a th:href="'focus?type=' + ${type } + '&focus=1'">订阅中</a></li>
							<li><a th:href="'focus?type=' + ${type } + '&focus=0'">未订阅</a></li>
						</ul>
					</div>

					<th:block th:switch="${focus}">
						<th:block th:case="null">全部</th:block>
						<th:block th:case="1">订阅中</th:block>
						<th:block th:case="*">未订阅</th:block>
					</th:block>
				</div>
			</div>
		</div>
		
		<br />
		
		<!-- Anime Item -->
		<div class="row anime-focus">
			<div th:each="anime : ${animeList}" class="col-md-3 col-xs-4">
				<div class="card">
					<div class="card-image video-img">
						<img th:src="${anime.key.pic }" class="img-rounded" />
					</div>
					<div class="card-content">
						<p th:text="${anime.key.name }"></p>
					</div>
					<div class="card-action">
						<form th:if="${anime.value == 0}" action="focus/add" method="post">
							<input name="animeId" type="hidden" th:value="${anime.key.id }" />
							<button class="btn btn-success orange">订阅</button>
						</form>
						<form th:unless="${anime.value == 0}" action="focus/delete" method="post">
							<input name="animeId" type="hidden" th:value="${anime.key.id }" />
							<button class="btn btn-success green">取消订阅</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>