<!DOCTYPE html>
<html xmlns:th="www.themeleaf.org">

<head>
<th:block th:replace="base/lib :: common"></th:block>
<th:block th:replace="base/lib :: bootstrap"></th:block>
<th:block th:replace="base/lib :: materialize"></th:block>
<script type="text/babel" th:src="@{/js/react-common.js}"></script>
</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">
	<div id="container"
		th:insert="base/modal_form :: setting('标题', ~{::#content})">
		<div id="content">
			<table class="table table-hover">
				<colgroup>
					<col style="width: 10%">
					<col style="width: 30%">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 10%">
					<col style="width: 40%">
				</colgroup>
				<thead>
					<tr>
						<th>名称</th>
						<th>描述</th>
						<th>开始连载月份</th>
						<th>是否完结</th>
						<th>类型</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="anime : ${animeList}">
						<td th:text="${anime.name}"></td>
						<td>
							<div style="overflow: hidden; max-height: 50px;">
								<span th:text="${anime.description }"></span>
							</div>
						</td>
						<td th:text="${#dates.format(anime.publishMonth, 'yyyy-MM-dd')}"></td>
						<td th:text="${anime.finished == false ? '否' : '是'}"></td>
						<td th:text="${(animeTypes.asMap()).get(anime.type)}">
						<td><a class="btn btn-link btn-sm" data-toggle="modal"
							data-target="#modal"
							th:href="@{anime/form/{animeId}(animeId=${anime.id})}">编辑</a>
							<button data-target="modal-edit"
								th:data-href="@{anime/link/{animeId}(animeId=${anime.id})}"
								class="btn">关联</button> <a class="btn btn-link btn-sm"
							th:href="@{anime/delete/{animeId}(animeId=${animeId})}">删除</a></td>
					</tr>
				</tbody>
			</table>
			<div id="page" th:data-page="${animeList.getPageNum() }"
				th:data-total="${animeList.getPages() }" data-url="anime?p="></div>
		</div>
	</div>
</body>
</html>