<!DOCTYPE html>
<html xmlns:th="www.themeleaf.org">

<head>
	<title>番剧管理</title>
	<th:block th:replace="base/lib :: common"></th:block>
	<th:block th:replace="base/lib :: semantic"></th:block>
	<th:block th:replace="base/lib :: react"></th:block>
	<script type="text/babel" th:src="@{/js/semanticbundle.js}"></script>
	<script type="text/babel" th:src="@{/js/semantic-custom.js}"></script>
</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">
	<div id="container">
		<div id="anime-container"></div>
	</div>
</body>
</html>
