<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:id="${code == '-1'} ? 'modal-dic' : 'modal-dicdata'" 
	class="ui small modal" th:fragment="modal-dic(code)">
	<i class="close icon"></i>
	
	<div class="header" th:text="${code == '-1'} ? '新增字典' : '新增字典数据'"></div>
	
	<div class="content">
		<form class="ui form" th:action="${code == '-1' ? 'dict/addDic' : 'dict/addDicData'}" method="post"
			th:id="${code == '-1'} ? 'form-dic' : 'form-dicdata'">
			<div class="ui field fluid">
				<!-- parentCode 如何传递？ -->
				<input name="code" placeholder="编码" />
				<input name="parentCode" type="hidden"/>	
			</div>
			<div class="ui field fluid">
				<input name="value" placeholder="文字"/>
			</div>	
			<div class="ui field fluid">
				<input name="sequence" placeholder="顺序"/>
			</div>	
			<div class="ui field fluid input">
				<select class="ui dropdown" name="used">
					<option value="">状态</option>
					<option value="1" selected="selected">使用</option>
					<option value="0">暂停</option>
				</select>
			</div>
			<input class="ui button green submit" type="submit" value="保存"/>
		</form>
	</div>
</div>
