<html xmlns:th="www.thymeleaf.org">
<head>
<title>Scratch</title>
	<th:block th:replace="base/lib :: semantic" />
	<th:block th:replace="base/lib :: react" />
	<th:block th:replace="base/lib :: common" />
	<script th:src="@{/js/anime/focus/button.js}" type="text/babel"></script>
</head>

<body th:replace="base/layout/user :: layout(~{::#container})">
	<div id="container" class="ui container">
		<div class="ui segment">
			<div class="ui secondary pointing menu">
				<a class="item" th:classappend="${module == 'home' ? 'active' : ''}"
					th:href="@{/}">首页</a>
				<a class="item" th:classappend="${module == type.code ? 'active' : ''}"
					th:each="type : ${types}" th:href="@{${type.code}}"th:text="${type.value}"></a>
				<div class="right menu">
					<div class="item ui search">
						<div class="ui icon input">
							<input id="search" class="prompt" type="text" placeholder="Search...">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="content" class="ui segment" style="padding:10px;">
			<th:block th:if="${module == 'home'}">
				<h3 class="ui header" th:text="'热门'"></h3>
				<div th:replace="anime/animes :: cards(${mostFocusAnimes})"></div>
				<th:block th:each="animeEntry : ${typeAndAnimes}">
					<h3 class="ui header" th:text="${types.get(animeEntry.getKey())}"></h3>
					<div
						th:replace="anime/animes :: cards(${animeEntry.value})"></div>
				</th:block>
			</th:block>
			<th:block th:unless="${module == 'home'}">
				<div th:replace="anime/animes :: cards(${animes})"></div>
			</th:block>
		</div>

		<div class="ui modal"></div>
		
		<script type="text/javascript" th:inline="javascript">
			var titles = /*[[${searchHistories}]]*/ null;
			var source = new Array();
			if(titles != null) {
				for(var i=0; i<titles.length; i++) {
					source.push({title : titles[i]});
				}
			}
			
			$('#search').bind('keypress',function(event){  
	            if(event.keyCode == "13") {  
	                window.location.href = encodeURI("search?word=" + $(this).val()); 
	            }  
	        });
			$('.item.search')
			  .search({
			    source: source
			  })
			;
		</script>
	</div>
</body>
</html>
