<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Scratch</title>
    <th:block th:replace="~{base/lib :: common}"></th:block>
    <th:block th:replace="~{base/lib :: semantic}"></th:block>
</head>

<body th:replace="base/index :: layout(~{::#container})">

<div id="container" class="ui centered grid" style="height: 100%;display: flex;">
    <div class="ui container six wide tablet four wide computer column" style="align-self: center;margin-bottom: 6rem">
        <h1 style="text-align: center;color: #fff;">Scratch</h1>
        <div class="ui row">
            <a class="ui fluid primary button" href="/login">登录</a>
        </div>
        <div class="ui horizontal divider">.</div>
        <div class="ui row">
            <a class="ui fluid button" href="/user/register">注册</a>
        </div>
    </div>
</div>
</body>
</html>