<html xmlns:th="http://www.thymeleaf.org">

<th:block th:remove="all">
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
	<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>

<!--1.去掉 margin?-->
<!--2.更改inverted颜色-->
<div class="ui inverted stackable menu" id="nav-header">
	<div class="ui container">
		<div class="item">
			<a th:href="@{/}">Scratch</a>
		</div>
		<!--没有用户时-->
		<div class="right item" th:if="${session.user_g == null}">
			<div class="black ui buttons">
				<a class="ui button" th:href="@{/user/login}">Login</a>
			</div>
		</div>
		<!--存在用户时-->
		<div class="right item" th:unless="${session.user_g == null}">
			<img class="ui mini circular image portrait"
				 src="https://semantic-ui.com/images/avatar2/small/elyse.png">
			<span th:text="${session.user_g.username}"></span>
			<div th:object="${session.user_g}" class="black ui buttons">
				<a class="ui  button" th:href="@{/user/info}">
					账号</a>
				<a class="ui  button"
				   th:if="*{role == 1}" th:href="@{/admin}">
					Admin
				</a>
				<a class="ui  button" th:href="@{/user/logout}">
					登出
				</a>
			</div>
		</div>
	</div>
</div>

</html>
