<html xmlns:th="http://www.thymeleaf.org">

<th:block th:remove="all">
    <script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
    <script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
    <link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>

<!--1.去掉 margin?-->
<!--2.更改inverted颜色-->
<div class="ui inverted fixed stackable menu" id="nav-header">

    <div class="item">
        <a th:href="@{/}" class="logo">Scratch</a>
    </div>
    <div class="item">
        <form style="margin: 0" action="/search">
            <div class="ui icon input" style="padding: 2px">
                <input type="text" placeholder="Search..." name="word">
                <i class="search large link icon"></i>
            </div>
        </form>
    </div>

    <!--没有用户时-->
    <div class="right item" th:if="${session.SPRING_SECURITY_CONTEXT == null}">
        <div class="black ui buttons">
            <a class="ui button" th:href="@{/user/login}">Login</a>
        </div>
    </div>
    <!--存在用户时-->
    <th:block th:if="${session.SPRING_SECURITY_CONTEXT != null}">
        <div class="right item" th:object="${session.SPRING_SECURITY_CONTEXT.authentication.principal}"
             style="padding:0px">
            <div class="ui menu" id="nav-header-menu">
                <a class="item" th:href="@{/}">
                    <i class="home large icon"></i>
                </a>
                <div class="ui pointing dropdown icon item">
                    <img class="computer only ui mini circular image portrait"
                         src="https://semantic-ui.com/images/avatar2/small/elyse.png">
                    <div class="menu">
                        <a class="item" th:href="@{/user/info}">个人资料</a>
                    </div>
                </div>

                <a class="item"
                   th:if="*{role == 1}" th:href="@{/admin}">
                    Admin
                </a>
                <a class="item" th:href="@{/logout}">
                    <i class="sign out alternate large icon"></i>
                </a>
            </div>

            <script>
                $('.ui.dropdown')
                    .dropdown();
            </script>
        </div>
    </th:block>

</div>
</html>
