<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scratch.dao.inter.IDictDao">
	
	<select id="findAll" resultType="Dict">
		select * from dictionary;	
	</select>
	
	<select id="findByType" resultType="HashMap">
		select code, name  from dictionary where type = #{type};
	</select>
	
	<select id="findByParentCode" resultType="Dict">
		select code, value, parent_code as parentCode, sequence, used from dictionary 
			where parent_code = #{parentCode} 
			<if test="mustBeUsed">
				and used = '1' 
			</if>
			order by sequence asc;
	</select>

</mapper>  
