<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="scratch.dao.inter.IVideoTypeDao">
	
	<resultMap type="VideoType" id="VideoMap">
		<id property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="level" column="level"/>
		<result property="videoCount" column="video_count" />
		<association property="parentType" javaType="VideoType">
			<id property="code" column="parent_code" />
		</association>
	</resultMap>

	<select id="list" resultMap="VideoMap">
		select * from bili_video_type where code > 0 and parent_code is not null
	</select>

	<select id="listById" resultMap="VideoMap">
		select * from bili_video_type where code = #{id} or parent_code = #{id}
	</select>
	
	<insert id="save" parameterType="VideoType">
		insert into bili_video_type 
			(code, name, parent_code, level, video_count) 
			values(#{code}
			, #{name} 
			<choose>
				<when test="parentType == null || parentType.code == 0">
					, 0, 1
				</when>
				<otherwise>
					, #{parentType.code}, 2
				</otherwise>
			</choose>
			,0)
	</insert>
	
	<update id="modify" parameterType="VideoType">
		update bili_video_type set 
			name = #{name}
			<if test="parentType != null and parentType.code != null">
				, parent_code = #{parentType.code}
			</if>
			<if test="level != null">
				, level = #{level}
			</if>
			<if test="videoCount != null">
				, video_count = #{videoCount}
			</if>
			where code = #{code}
	</update>

	<delete id="delete">
		delete from bili_video_type where code = #{id}
	</delete>

</mapper>  
