
body {
    overflow-y: scroll;
    font-family:Micrsoft Yahei, Arial;
    background: rgba(233, 226, 226, 0.5);
    width: 100%;
}

li,u{
    list-style: none;
    padding: 0;
    margin: 0;
}

input[readonly=readonly] {
    border-style:none;
    margin:2px 2px;
}

.card a {
    color: black;
}

/*
.ui.cards > .card,
.ui.card {
    box-shadow: none;
}
*/

.display{
    display:block;
}

.hidden{
    display:none;
}

.anime-focus .video-img {
	height:250px;
}

.fix-nag {
	position: fixed;
	right: 45%;
	top: 35%;	
}


.comments {
    margin : 1rem 10rem 0 10rem;
    padding : 5px;
}

.portrait {
    margin : 5px;
}

/**/
.alert {
    position: fixed;
    right: 45%;
    top: 35%;
    opacity : 0.8;
}

.anime-img {
    width: 100%;
    height: 5rem;
}


#nav-header {
    padding: 0 1rem 0 1rem;
    border-radius:0px;
    background-color: #0f1a30;
    height: 4rem;
    box-shadow: 0px 0px 0px 1px #555555;
}

#nav-header-menu {
    border: 0px;
    border-radius:0px;
    background-color: #0f1a30;
}

#nav-header-menu .item {
    padding: 0 16px;
    font-size: 1rem;
}

#nav-header .item:before {
    width: 0px;
}

#user-content {
    padding: 5rem 0 0 0;
}

.grey {
    background : #304d8a;
}

.max-datetime-width {
    max-width: 250px;
}


.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity .4s ease-in;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

#admin-content {
    padding:2rem 3rem 3rem 18rem;
    position: relative;
    width: 95%;
    height: 100%;
}

#home_background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: bottom .3s ease-out 1.7s;
    z-index: -1;
}


#post {
    marginBottom : 2rem;
}

#posts .ui.card .head {
    align-items: center; display: flex; padding:0.5rem 1rem 0.5rem 1rem
}

#posts .ui.card .content {
    border-bottom: 1px solid ghostwhite
}

#posts .ui.card .head > .button {
    margin-left: auto
}

#posts .ui.card .extra.content {
    display: flex
}

#posts div.comment {
    margin-left: auto;
}

#left-menu .active.item {
    background: #4183c4;
    color: white;
}