<html xmlns:th="www.thymeleaf.org">

<head>
	<title>剧集管理</title>
	<th:block th:replace="base/lib :: common"></th:block>
	<th:block th:replace="base/lib :: react"></th:block>
	<th:block th:replace="base/lib :: semantic"></th:block>
	<script type="text/javascript" th:src="@{/js/bundle/vendors.js}"></script>
	<script type="text/javascript" th:src="@{/js/bundle/table.js}"></script>
<!--
	<script type="text/javascript" th:src="@{/js/semantic-custom.js}"></script>
-->
</head>

<body th:replace="base/layout/admin :: layout(~{::#container})">

	<div id="container" class="ui container">
		<table class="ui celled padded green table">
			<colgroup>
				<col style="width: 20%">
				<col style="width: 10%">
				<col style="width: 20%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 20%">
			</colgroup>
			<thead>
				<tr>
					<th colspan="1" class="olive inverted">今日更新</th>
				</tr>
				<tr>
					<th>
						<a class="ui green button" th:href="@{/admin/scratch/episode/push}">推送</a>
					</th>
				</tr>
				<tr>
					<th>名称</th>
					<th>集号</th>
					<th>链接</th>
					<th>更新时间</th>
					<th>最近推送时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="episode : ${todayEpisodes}">
					<td th:text="${episode.anime.name}"></td>
					<td th:text="${episode.number}"></td>
					<td>
						<a th:href="${episode.url}" 
							th:text="${#strings.length(episode.url) > 50 ? 
								#strings.substring(episode.url,0,50) + '...' : 
								episode.url}"></a>
					</td>
					<td
						th:text="${#dates.format(episode.saveTime, 'yyyy-MM-dd HH:mm')}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div id="episodes-box"></div>
	</div>
</body>
</html>

