body {
    overflow-y: scroll;
    font-family:Micrsoft Yahei, Arial;
    font-size: 18px;
}

li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

input[readonly=readonly] {
    border-style:none;
    margin:2px 2px;
}

.anime-focus .video-img {
	height:250px;
}

.fix-nag {
	position: fixed;
	right: 45%;
	top: 35%;	
}


.comments {
    margin : 1rem 10rem 0 10rem;
}

.portrait {
    margin : 5px;
}

/**/
.alert {
    position: fixed;
    right: 45%;
    top: 35%;
    opacity : 0.8;
}


#nav-header {
    border-radius:0px;
    height: 4rem;
    font-size:1rem;
}

#user-content {
    padding: 35px 0 0 0;
}

.grey {
    background : #ccc;
}