<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scratch.dao.inter.IDictDao">
	
	<select id="findAll" resultType="Dict">
		select * from dictionary;	
	</select>
	
	<select id="findByType" resultType="HashMap">
		select code, name  from dictionary where type = #{type};
	</select>
	
	<select id="findByParentCode" resultType="Dict">
		select code, value, parent_code as parentCode, sequence, used from dictionary 
			where parent_code = #{parentCode} 
			<if test="mustBeUsed">
				and used = '1' 
			</if>
			order by sequence asc;
	</select>
	
	<select id="findByCodeAndParentCode" resultType="Dict">
		select code, value, parent_code as parentCode, sequence, used from dictionary 
			where parent_code = #{parentCode} and code = #{code}
	</select>
	
	<update id="update">
		update dictionary set value = #{dict.value}, sequence = #{dict.sequence}, used = #{dict.used}
			where code = #{dict.code} and parent_code = #{dict.parentCode}
	</update>

	<delete id="delete">
		delete from dictionary where code = #{dict.code} and parent_code = #{dict.parentCode}
	</delete>

	<insert id="save">
		insert into dictionary (code, parent_code, value, sequence, used) 
			values(#{dict.code}, #{dict.parentCode}, #{dict.value}, #{dict.sequence}, #{dict.used})
	</insert>

</mapper>  
