<html xmlns:th="http://www.thymeleaf.org">

<th:block th:remove="all">
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
	<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>

<!--1.去掉 margin?-->
<!--2.更改inverted颜色-->
<div class="ui inverted stackable menu">
	<div class="ui container">
		<div class="item">
			<a th:href="@{/}">Scratch</a>
		</div>
		<div class="right item">
			<!--没有用户时-->
			<a class="ui inverted button" th:href="@{/user/login}" th:if="${session.user_g == null}">Login</a>
			<!--存在用户时-->
			<div class="ui dropdown"
				th:href="@{/user/login}" th:unless="${session.user_g == null}">
				<th:block th:text="${session.user_g.username}">username</th:block>
				<i class="dropdown icon"></i>
				<div class="ui inverted menu" th:object="${session.user_g}" style="background:grey;">
					<a class="item" th:href="@{/user/info}">账号信息</a>
					<a class="item" 
						th:if="*{role == 1}" th:href="@{/admin}">
						管理员后台
					</a>
					<a th:href="@{/user/logout}" class="item">
						登出
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

</html>
