<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar-container">
	<div class="nav-wrapper">
		<a th:href="@{/}" class="brand-logo">Scratch</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li th:if="${session.user_g == null}">
				<a class="btn btn-default btn-outline btn-circle collapsed"
					th:href="@{/user/login}" aria-expanded="false"
					aria-controls="nav-collapse2">Sign in</a>
			</li>
			<li th:unless="${session.user_g == null}">
				<a href="" class="dropdown-toggle dropdown-button"
					data-toggle="dropdown" data-activates="user-ops">
					<th:block th:text="${session.user_g.username }"/>
					<b class="caret"></b>
				</a>
			</li>
		</ul>
	</div>
</nav>

<th:block th:if="${session.user_g != null}">
	<ul id="user-ops" class="dropdown-content" th:object="${session.user_g}">
		<th:block th:if="*{role == 1} ">
			<li><a th:href="@{/admin}">Administrator</a></li>
			<li class="divider"></li>
		</th:block>
		<li><a th:href="@{/user/logout}">log out</a></li>
	</ul>
</th:block>