<html xmlns:th="www.thymeleaf.org">

<div th:fragment="setting(title, saveUrl, form)">
<div style="margin: 20px;">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-6">
					<span class="panel-title">
						<b th:text="${title}"></b>
					</span>
				</div>
				<div class="col-md-offset-5 col-md-1">
					<span>
						<a class="btn btn-link btn-sm" data-toggle="modal"
							data-target="#modal"
							th:href="@{{saveUrl}(saveUrl=${saveUrl})}">新增</a>
					</span>
				</div>
			</div>
		</div>
		<div class="panel-body" th:insert="${form}"></div>
	</div>
</div>

<div id="modal" class="modal modal-fixed-footer">
	<div class="modal-content"></div>
</div>


</div>
</html>