<html xmlns:th="www.thymeleaf.org">
<body>
	<ul class="collapsible collection" data-collapsible="accordion">
		<li><a class="collection-item">首页</a></li>
		<li>
			<div class="collapsible-header collection-item">后台管理</div>
			<div id="0" class="collapsible-body collection" style="padding: 0px;">
				<a th:href="@{/admin/user}" class="collection-item" 
					th:classappend="${moduel == 'user' ? 'active' : ''}">用户管理</a>
				<a th:href="@{/admin/anime}" class="collection-item" 
					th:classappend="${moduel == 'anime' ? 'active' : ''}">番剧管理</a>
			</div>
		</li>
	</ul>

	<script>
	$(document).ready(function() {
		var $active = $("a.active");
		var num = null;
		console.debug($active.length);
		if($active.length == 1) {
			num = $active.parent().attr("id")
			console.debug($active.parent());
			console.debug(num);
			if(num >= 0) {
				$('.collapsible').collapsible('open', num);	
			}
		}
	})
</script>
</body>
</html>