<html xmlns:th="www.thymeleaf.org">
<th:block th:remove="all">
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
	<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>
<body>
	<!-- 选中状态如何表现 -->
	<!-- 去除超链接显示 -->
	<div class="ui vertical accordion secondary pointing menu">
		<div class="item">
			<a class="title" th:href="@{/admin}">首页</a>
		</div>
		<div class="item">
			<span class="title">
				<i class="setting icon"></i>
				数据维护
				<i class="dropdown icon"></i>
			</span>
			<div class="content">
				<div id="1" class="menu">
					<a  class="item" th:classappend="${module == 'user' ? 'active' : ''}" 
						th:href="@{/admin/user}">用户管理</a>
					<a  class="item" th:classappend="${module == 'anime' ? 'active' : ''}"
						th:href="@{/admin/anime}">番剧管理</a>
					<a  class="item" th:classappend="${module == 'dic' ? 'active' : ''}"
						th:href="@{/admin/dic}">字典管理</a>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(".ui.accordion").accordion();
		function getActiveIndex() {
			var $active = $("a.active");
			if($active.length == 1) {
				return $active.parent().attr("id");
			}
			return -1;
		}
	
		$(document).ready(function() {
			var num = getActiveIndex();
			console.debug(num);
			if(num >= 0) {
				$(".ui.accordion").accordion('open', parseInt(num));
			}
		});
	</script>
</body>
</html>
