<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 导入properties -->
	<context:property-placeholder location="classpath*:/jdbc-dev.properties, 
		classpath*:/config.properties"/>
		
	<!-- 数据库 -->
	<import resource="db-config.xml"/>
	
	<!-- redis -->
	<import resource="redis-config.xml"/>
	
	<!-- RAMQ -->
	<bean class="com.rabbitmq.client.ConnectionFactory">
   		<property name="host" value="localhost"></property>
   	</bean>	

	<bean id="page" class="scratch.support.service.Page">
		<property name="perPageItem" value="20" />
	</bean>
   
   <bean id="logQueue" class="java.util.concurrent.LinkedBlockingQueue" />
   
<!--    <task:scheduler id="myScheduler" pool-size="5"/>
   <task:annotation-driven scheduler="myScheduler"/> -->
</beans>
