<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd 
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd  
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd 
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd 
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 读取配置文件 -->
	<context:property-placeholder location="classpath:mail.properties,classpath:jdbc.properties"/>
	
	<!-- 数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property> 
		<property name="url">
			<value>jdbc:mysql://localhost:3306/words?serverTimezone=UTC&amp;userUnicode=true&amp;characterEncoding=UTF-8</value>
		</property> 
		<property name="username">
			<value>${jdbc.username}</value>
		</property> 
		<property name="password">
			<value>${jdbc.password}</value>
		</property> 
	</bean> 

	<!-- Hibernate SessionFactory -->
	<bean id="hibernateSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan">
			<list>
				<value>scratch.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- <prop key="hibernate.use_sql_comments">true</prop> -->
			</props>		
		</property>
	</bean>
	
	<!-- 事务管理 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<context:annotation-config />  
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="port" value="${mail.port}"/>
		<property name="defaultEncoding" value="${mail.defaultEncoding}"/>
		<property name="protocol" value="${mail.protocol}"/>
		<property name="username" value="${mail.username}"/>
		<property name="password" value="${mail.password}"/>
		<property name="javaMailProperties">
    	    <props>
    	    	<prop key="mail.from">${mail.from}</prop>
    	    	<prop key="mail.transport.protocol">${mail.protocol}</prop>
    	        <prop key="mail.smtp.auth">true</prop>
    	        <prop key="mail.smtp.starttls.enable">true</prop>
    	        <prop key="mail.smtp.enableSSL.enable">true</prop>
    	        <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
    	        <prop key="mail.debug">true</prop>
    	    </props>
    	</property>
	</bean>
	
	<bean id="page" class="scratch.service.Page" scope="request">
		<property name="perPageItem" value="40" />
	</bean>
	
	<!-- 自动注册Bean-->
	<context:component-scan base-package="scratch.dao" />			
	<context:component-scan base-package="scratch.aspect" />
	<context:component-scan base-package="scratch.service" />
	<context:component-scan base-package="scratch.service.specific"/>
	<context:component-scan base-package="scratch.service.user" />	
	<context:component-scan base-package="scratch.support" />
	<aop:aspectj-autoproxy/>
	
</beans>