<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd 
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd  
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd 
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<mvc:annotation-driven>
		<!-- 消息转换器 -->
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<mvc:resources location="/WEB-INF//resource/" mapping="/**" /> 
	
	<bean class="org.springframework.web.servlet.view.tiles2.TilesViewResolver" />
	
	<bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>classpath:tiles.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 视图解析器配置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	<!-- 自动注册控制器 -->
	<context:component-scan base-package="scratch.controller" />
	<context:component-scan base-package="scratch.aspect" />
	
	<!-- 开启aop -->				
	<aop:aspectj-autoproxy/>
	
	<!-- 开启方法校验 -->
	<bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>
	<bean class="scratch.support.SessionSupport" />
	
	<import resource="redis-context.xml"/>
</beans>