<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:github="http://www.springframework.org/schema/social/github"
	xmlns:social="http://www.springframework.org/schema/social" xmlns:live="http://www.springframework.org/schema/social/live" 
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/social/github http://www.springframework.org/schema/social/spring-social-github.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/social http://www.springframework.org/schema/social/spring-social-1.1.xsd
		http://www.springframework.org/schema/social/live http://www.springframework.org/schema/social/spring-social-live.xsd">

	<!-- 导入social相关bean -->
	<import resource="social-config.xml" />

	<context:annotation-config />

	<!-- 开启AOP功能 -->
	<aop:aspectj-autoproxy />

	<context:component-scan base-package="scratch.controller" />



	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
				<bean class="scratch.interceptor.SessionInterceptor">
					<property name="autoLogin" value="${setting.autologin}"></property>
				</bean>
			</mvc:interceptor>
	</mvc:interceptors>

	<mvc:annotation-driven>
		<!-- 消息转换器 -->
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/html;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
		<mvc:argument-resolvers>
			<bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver" />		
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<!-- 配置表单文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>

	<!-- 配置视图解析 -->

	<!-- 配置静态资源 -->
	<mvc:resources location="/WEB-INF//resource/" mapping="/**" />
	<!-- thymeleaf -->


	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="order" value="1" />
		<property name="characterEncoding" value="utf-8"></property>
		<!-- <property name="cache" value="false"></property> -->
	</bean>

	<!-- <bean class="org.springframework.web.servlet.view.tiles2.TilesViewResolver" 
		/> <bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"> 
		<property name="definitions"> <list> <value>classpath:tiles.xml</value> </list> 
		</property> </bean> -->

	<!-- jsp -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- velocity -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>


	<!-- 开启方法校验 -->
	<bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor" />
	

	<beans profile="develop">
		<context:property-placeholder location="classpath:config-dev.properties"/>
	</beans>
	
	<beans profile="product">
		<context:property-placeholder location="classpath:config-pro.properties"/>
<!-- 		<task:scheduler id="myScheduler" pool-size="5"/>
 		<task:annotation-driven scheduler="myScheduler"/> -->
	</beans>

	
</beans>