<html xmlns:th="www.thymeleaf.org" style="box-sizing: border-box;font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: 14px;height: 100%;">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<div class="ui  text container" style="display: block;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height: 1.5;font-size: 1.14285714rem;max-width: 700px!important;">
  <div class="ui green inverted segment" style="position: relative;background: #1B1C1D;box-shadow: none;margin: 1rem 0;padding: 1em;border-radius: .28571429rem;border: none;font-size: 1rem;margin-top: 0;margin-bottom: 0;color: #FFF!important;background-color: #21BA45!important;">
    <h2 style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height: 1.28571429em;margin: calc(2rem - .14285714em) 0 1rem;font-weight: 700;padding: 0;font-size: 1.71428571rem;margin-top: 0;">找回密码</h2>
    <h3 style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height: 1.28571429em;margin: calc(2rem - .14285714em) 0 1rem;font-weight: 700;padding: 0;font-size: 1.28571429rem;">请点击<a th:href="@{${url}}" style="var s,l,c,u=k: ;return a=a||d,r=w||r,&quot;string&quot;==typeof t&&u!==i&&(t=t.split(/[\. ]/),s=t.length-1,e.each(t,function(o,a){var r=o!=s?a+t[o+1].charat(0).touppercase()+t[o+1].slice(1): t;if(e.isplainobject(u[r])&&o!=s)u=u[r]: ;else{if(u[r]!==i)return l=u[r],!1: ;if(!e.isplainobject(u[a])||o==s)return u[a]!==i?(l=u[a],!1): (n.error(m.method,t),!1);u=u[a]: ;background: 0 0;color: #4183C4;text-decoration: none;">这里</a>重新设置密码</h3>
    <h5 style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height: 1.28571429em;margin: calc(2rem - .14285714em) 0 1rem;font-weight: 700;padding: 0;font-size: 1rem;margin-bottom: 0;">PS：这封邮件自动产生，请勿回复</h5>
  </div>
</div>
</html>
