<html xmlns:th="www.thymeleaf.org">

<th:block th:remove="all">
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/jquery.cookie.js"></script>
	<script type="text/javascript" src="C:/Users/Admin/.m2/javascript/semantic/semantic.js"></script>
	<link rel="stylesheet" href="C:/Users/Admin/.m2/javascript/semantic/semantic.css"></link>
</th:block>

<th:block th:replace="base/lib :: semantic"></th:block>

<div class="header">影视新增</div>
<div class="scrolling content">
	<div class="ui text container">
	<form class="ui form" id="saveAnimeForm" th:action="@{/admin/anime/save}" method="post">
		<div class="field">
			<label>名称</label>
			<input type="text" name="name" placeholder="请输入番剧名称"></input>
		</div>

		<div class="field">
			<label>别名</label>
			<input type="text" name="alias" placeholder="请输入番剧别名"></input>
		</div>

<!-- 		<div class="field">
			<label>上传图片</label>
			<input type="file" name="picFile">
		</div> -->
		
		<div class="field">
			<label>图片地址</label>
			<input type="text" name="pic" />
		</div>

		<div class="field">
			<label>描述</label>
			<textarea name="description" rows="4" placeholder="请输入描述"></textarea>
		</div>

		<div class="field">
			<label>类别</label>
			<select name="type">
				<option value=""></option>
				<option th:each="animeType : ${animeTypes}"
					th:value="${animeType.code}" th:text="${animeType.value}"></option>
			</select>
		</div>

		<div class="field">
			<label>发布日期</label>
			<input type="date" name="publishMonth"></input>
		</div>
		
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				
		<input class="ui green button" type="submit" value="保存" />
		<button class="ui button" value="取消"></button>
	</form>
	</div>
</div>
<script type="text/javascript">
	$(".ui.form").form(animeRule);
</script>
</html>
